@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-merriweather);
  --color-signal-red: #D32F2F;
}

body {
  font-family: var(--font-serif);
  background-color: #f9fafb; /* light gray/white */
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: var(--font-sans);
  font-weight: 700; /* Bold */
}
